# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
crash.log
crash.*.log

# Lockfile: mantém o da raiz, ignora os demais
**/.terraform.lock.hcl
!.terraform.lock.hcl

# Terraform Docs auxiliares
footer.md
header.md
terraform-docs-config.yml

# Arquivos temporários
**/plano
*.tfplan
*.out
*.zip
